.app-btn-1 {
    background: #c8cec8 !important;
    margin-bottom: 10px !important;
    color: #000 !important;
    font-weight: bold !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 17px;
  }
  
.app-btn-1:hover {
    background: #fff !important;
    border-color: #2596be !important;
    color: #9f390d !important;
}

.app-btn-2 {
    background: #007880 !important;
    margin-bottom: 10px !important;
    color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

/* c49549 */
.app-btn-2:hover {
    background: #fff !important;
    border-color: #007880 !important;
    color: #9f390d !important;
}

.Contact-container{
    margin-left: 140px;
    margin-right: 190px;
    padding:16px 90px;
    border-radius: 15px;
}

.form-label {
    color: #33313B; 
    font-size: 18px; 
    font-weight: 600; 
  }
  
  .form-control {
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    font-size: 16px;
  }
  
  .form-control:focus {
    outline: none; 
    border-color: #007880; 
    box-shadow: 0 0 1px #007880; 
  }

  textarea.form-control {
    resize: vertical;
  }
  